{% extends "main/foto/__foto_css_js.html" %}

{% block content %}
<div class="page-header">
	<h4 style = "text-align: center;">отметьте фото для удаления:
	</h4>
	
</div>

<form action="{% url 'main:foto_from_album_del' album_id %}" method="post">
{% csrf_token %}
	<div class="button">
        <button type="submit">Удалить отмеченные фото</button>
    </div>
	<div class="container" id="foto">
		<div class="clearfix mosaicflow">
			{% for item in foto_from_album %}
			<div class="mosaicflow__item">
				<input type="checkbox" name='{{item.id}}'>
				<a class="fancyimage" data-fancybox-group="group" title="{{item.album}}" href="{{item.foto_1x.url}}">
					<img src="{{item.foto_1x.url}}" srcset="{{item.foto_1x.url}} 1x,{{item.foto_2x.url}} 2x,{{item.foto_3x.url}} 3x," alt="{{item.album}">
				</a>
			</div>
			{% endfor %}
		</div>
	</div>
</form>



{% endblock %}