*	{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	/*outline: 1px solid red;*/
	margin: 0;
	}

div.base-top-top {
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	min-height: 60px;
	
}

div.base-top-top-right {
	width: 60%;

}

div.exception {
	font-size: 1.5em;
	text-align: center;
	color: #000080;

}

div.sign{
	display: flex;
	justify-content: flex-end;
	padding: 0 2em 0 2em;
	color: #A02C2C;

}

div.blue-top{
	background-color: #AACCFF;

}

img.olga-foto{
	position: relative;
	top: 20px;
	right: 60px;
	float: right;

}

ul#nav-fist-list{
margin-left: 20px;

}

ul#nav-first-list, ul#nav-about-list,
 ul#nav-pupils-list, ul#nav-parents-list
{
	display: flex;
	list-style-type: none;
	padding: 0;
}

ul#nav-about-list, ul#nav-pupils-list,
ul#nav-parents-list
{
	position: absolute;
	top: -9999px;

}
li.nav-item, li.nav-item-second{
	width: 13%;
	font-size: 1.1em;
	text-align: center;
	padding: 0.5em 0 0.5em 0;
	cursor: pointer;
}


li.nav-item, li.nav-item a{
	color: white;
	background-color: #000080;
	text-decoration: none;
	text-transform: uppercase;
}

li.nav-item-second {
	color: #000080;
	text-decoration: none;
	text-transform: capitalize; 
}

li.nav-item-second:hover{
	background-color: #d8d7d7;
	color: red;

}

.navbar-default {
    background-color: #2ecc71;
    border-color: #27ae60;
}


/*Albums style*/
.album-fond {
	background-color: #ECEFF5;
}

.albums {

	margin: 0 7em 0 7em;
	padding-top: 4em;

}

.flex-container {
	width: 920;
	display: flex;
	flex-wrap: wrap;
	height: auto;
}

	/*display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
}*/

.album-item {
	width: 33.33%;
	padding: 0 auto 4em auto;
}

/*div.lists {
	height: 15px;
	width: 100%;
}*/
div.album {
	position: relative;
	padding-top: 100%;
	shadow: 0 1px 1px #000;
}

div.background {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	box-shadow:  0px 1px  1px #000;
}

div.album-about {
	/*color: white;
	padding: 70% 1em 1em 1em;
	text-shadow: 0 1px 1px #000;
	font-weight: 600px;*/
	
	background-color: rgba(0, 0, 0, 0.1);
	position: absolute;
	bottom: 0;
	height: 30%;
	width: 100%;
	color: #fff;
	padding: 1em;
}

div.album-name {
	font-size: 16px;
}
span.foto-count {
	padding-right: 0.5em;
}

span.point {
	padding: 0 0.5em 0 0.5em;
}

span.view-count {
	padding-right: 0.5em;
}

/*------------*/