*	{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	/*outline: 1px solid red;*/

	}

div.foroverlap{
	padding-top: 70px;
}
/*FOR "FORMS" AND FOR "LOGOUT"*/
div.form, div.thanks{
	width: 340px;
	margin: 2em auto;
	box-shadow:  3px 3px  3px #000;
	text-align: center;
	outline:  1px solid #CCCBCB;
}

ul.errorlist {
	text-decoration: none;
	color: red;
}

.form tr {
	border-width: 0.5em;

}

.form th{
	text-align: right;
	padding: 1em;
}
.form td{
	text-align: center;
	padding: .2em;
}
.button-container, .link-container{
	display: flex;
	justify-content: space-around;
	padding: 1.5em 1em;
	outline:  1px solid #CCCBCB;

}
table.form {
	outline:  1px solid #CCCBCB;
}
/*END FOR "FORMS" AND FOR "LOGOUT"*/

/*NAVBAR*/
.navbar-brand {
	padding: 5px;
}

li.gate {
	font-size: 13px;
	font-weight: 800;


}

/*END NAVBAR*/

div.blue-top{
	background-color: #AACCFF;
	padding: 0.5em 0 0.5em;
	margin-top: -40px;
	

}

div.round-white {
	
	width: 154px;
	height: 154px;
	border-radius: 50%;
	margin: auto;
	background-color: white;
	z-index: 2;
}

div.round-foto {
	position: relative;
	width: 140px;
	height: 140px;
	border-radius: 50%;
	top: 7px;
	left: 7px;
	z-index: 3;

}
.blue-top h3 {
	color: white;
	text-align: center;
}

div.logo-box {
	text-align: center;
	padding: inherit;
}

div.logo {
	display: inline-block;

}

/*Albums style*/
.album-fond {
	background-color: #AACCFF;
	width: 100%;
}

.albums {

	width: 100%;
	padding: 1em 0 0 1em;

}

.album-container {

	width: 100%;
	height: auto;
}



.album-item {

	width: 100%;
	padding-right: 1em;
	padding-bottom: 1em;
}


div.album {
	position: relative;
	padding-top: 100%;
	shadow: 0 1px 1px #000;
}

div.background {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	box-shadow:  0px 1px  1px #000;
}

div.album-about {

	background-color: rgba(0, 0, 0, 0.3);
	position: absolute;
	bottom: 0;
	height: 30%;
	width: 100%;
	color: #fff;
	padding: 1em;
}

div.album-name {
	font-size: 16px;
}
span.foto-count {
	padding-right: 0.5em;
}

span.point {
	padding: 0 0.5em 0 0.5em;
}

span.view-count {
	padding-right: 0.5em;
}

.reffer-container-item {
	text-align: center;
	position: relative;
	padding: 1.5em 0;
}
.reffer-container-item a{
	padding: inherit;
}

.reffer-container-item a:hover{
	text-decoration: underline;
	color: #212121;
}
.reffer-container {
	display: none;

}

div.new-albums {
	text-align: center;
	padding: 1em 0;
}

/*ABOUT*/
div.esse{
	text-align: justify;
	width: 700px;
	margin: 0 auto;
	padding: 1em;
}



.esse>img{
	width: 100%;
}
h3.about{
color: #000080;
}

@media screen and (max-width: 700px){
div.esse{
	font-size: 1.4em;
	padding: 0;
}
h3.about,div.esse{
	width: 100%;

}
}


/*END ABOUT*/

/*Two albums in the row*/
@media screen and (min-width: 420px){

.album-container, .reffer-container{
	display: flex;
	flex-wrap: wrap;
}
.album-item {
	width: 50%;
}

.reffer-container-item {	
	width: 100%;
}
}


/*Three albums in the row*/
@media screen and (min-width: 700px){

.album-item {
	width: 33.3%;
}

div.album-about {
	height: 40%;
}

.reffer-container-item {
	width: 50%;
}


@media screen and (min-width: 1000px){

.albums {
	width: 1000px;
	margin: auto;
}
.album-item {
	width: 25%;
}

div.album-about {

	font-size: 0.8em;
}
}
.reffer-container-item {
	width: 33.3333%;
}

/*------------*/
/*Test18_26*/
div.total_test{
	background-color: #DADAE0;
	padding: 0.5em;
	outline: 1px solid #999;

}
div.sentence{
	margin-bottom: 1.5em;
	outline: 1px solid #777;
}

div.insert-word{
	text-align: center;	
}

.green-right-answer {
	color: green;
}

.red-wrong-answer {
	color: red;
}

.hide-answer{
	position: absolute;
	top: 9999px;
}
.sign-out{
	position: absolute;
	top: 9999px;
}
.darker{
	font-weight: 700;
	font-size: 1.2em;
}

.test-menu{
	position: absolute;
	top: 9999px;
}
.oge-modal{
	width: 100%;
	height: 320px;
	margin: 0 auto;
	position: absolute;
	top: 200px;
	background-color: lightyellow;
	border: 1px solid grey;
	display: none;
}
.oge-modal.open{
	display: block;
}