<div class='total_test'>
	<div class="container-fluid">	
		<div class='row'>
			<div class='col-md-12 col-sm-12'>
				
				<b><p>Прочитайте тексты и установите соответствие между текстами и их заголовками: к каждому тексту, обозначенному буквами А–G, подберите соответствующий заголовок, обозначенный цифрами. Используйте каждую цифру <b>только один раз</b>. В задании есть <b>один лишний заголовок.</b>Запишите в таблицу выбранные цифры под соответствующими буквами.</p></b>
			</div>

		</div>	

		<!-- Ячейки для ответов +кнопки управления -->
		<form action='{% url "oge:r_pass_test10_17_1" test_id %}' method='post'>
			<div class="row">			
				<div class='col-md-6 col-sm-12'>
						<ol>
							{% csrf_token %}
							{% for item in test_answers_list %}
								<li type="A">
									
									<input type="text" size="6" name="{{forloop.counter}}" autocomplete='off' value="">
								</li>
							{% endfor %}
						</ol>	
				</div>
			</div>
			<div class="row buttons button-text">
				<div class="col-md-6 col-sm-12">
					<input  type="submit" value="Проверить ответы"/>
				</div>
			</div>			
		</form>				
		<!-- /Ячейки для ответов +кнопки управления-->	

		<!-- вопросы  (на один больше, чем текстов)-->
		<br>
		<div class='row'>
		
			<div class='col-md-6 col-sm-12'>
				<b>
					<ol>
						{% for item in qw_list%}
						<li><p>{{item}}</p></li>
						{% endfor %}
					</ol>
				</b>
			</div>
			
		</div>
		<!-- /вопросы  (на один больше, чем текстов)-->	
		<!-- тексты, пронумерованные A. B. C. ... -->		
		<div class='row'>
			<ol>
				{% for item in text_list %}
				<li type="A"><p>{{item}}</p></li>
				{% endfor %}
			</ol>
		</div>
		<!-- /тексты, пронумерованные A. B. C. ... -->
	</div>
	<!-- container-fluid	 -->
</div>
<!-- total_test -->


