{% extends "common/__l_single_col.html" %}
{% load staticfiles %}

{% block stylesheet %}
{{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'main/video.css' %}">
{% endblock %}

{% block content %}

<br>
<div class="reffer-container">

  <div class="col-md-12 text-center">
  {% if videos %}
    <h4><span>Видео подраздела: </span><b>{{video_section.title}}</b></h4>
  {% else %}
  <h4><span>В подразделе: </span><b>{{video_section.title}}</b><span> пока нет ни одного видео </span></h4>
  {% endif %}
  </div>
</div>

{% if user.is_authenticated %}
  {% if perms.videos.add_video %}
<div class="reffer-container">

  <div class="reffer-container-item"><a href="{% url 'videos:video_new' video_section.id %}" title="добавить видео"><span class="glyphicon glyphicon-plus">добавить видео</span></a></div>

  {% if videos %}
  <div class="reffer-container-item"><a href="{% url 'videos:video_del' video_section.id %}" title="добавить видео"><span class="glyphicon glyphicon-plus">удалить видео</span></a></div>
  {% endif %}
</div>

  {% endif %}
{% endif %}


    <!-- Trailer Video Modal -->
    <div class="modal" id="trailer">
      <div class="modal-dialog">
        <div class="modal-content">
          <a href="#" class="hanging-close" data-dismiss="modal" aria-hidden="true">
            <img src="https://lh5.ggpht.com/v4-628SilF0HtHuHdu5EzxD7WRqOrrTIDi_MhEG6_qkNtUK5Wg7KPkofp_VJoF7RS2LhxwEFCO1ICHZlc-o_=s0#w=24&h=24"/>
          </a>
          <div class="scale-media" id="trailer-video-container">
          </div>
        </div>
      </div>
    </div>
    
{% for video in videos %}   
<div class="col-md-12 col-lg-6 movie-tile text-center" data-trailer-youtube-id="{{video.youtube_id}}" data-toggle="modal" data-target="#trailer">
    <img src="//img.youtube.com/vi/{{video.youtube_id}}/mqdefault.jpg" width="380" height="270">
    <h4>{{video.title}}</h4>
</div>
{% endfor %}


{% endblock %}

{% block javascript %}
  {{ block.super }}
  <script type="text/javascript" charset="utf-8" src = "{% static 'js/video.js' %}"></script>
{% endblock %}
