<div class='total_test'>
	<div class="container-fluid">
		<h3>Задание {{test_id}}</h3>
			{% if item|length_is:"10" %}
			<p><b>Прочитайте приведённый ниже текст. Преобразуйте слова, напечатанные заглавными буквами в конце строк, обозначенных номерами 18–26, так, чтобы они грамматически соответствовали содержанию текста. Заполните пропуски полученными словами. Каждый пропуск соответствует отдельному заданию 18–26.</b></p>
			{% else %}
			<p><b>Прочитайте приведённый ниже текст. Преобразуйте слова, напечатанные заглавными буквами в конце строк, обозначенных номерами 27–32, так, чтобы они грамматически и лексически соответствовали содержанию текста. Заполните пропуски полученными словами. Каждый пропуск соответствует отдельному заданию 27–32.</b></p>
			{% endif %}

		<div class="18_26">
			<p>{{test_all}}</p>
		</div>

	{% for item in test_list %}
	
		<div class="row sentence row-sentence">

			<div class="col-md-10 sentence">
				<p>
					<span>{{item.0}}</span>	
					<span>__</span>			
					<input type="text" name="{{forloop.counter}}" class='anonymous-answer answer' value="{{item.1}}" autocomplete="off"/>
					<span class='right-answer' style='display:none;'>{{item.3}}</span>
					<span>__</span>					
					<span>{{item.2}}</span>					
				</p>
			</div>
			<div class="col-md-2 insert-word">
				<p>
					<span>{{item.1}}</span>
				</p>
			</div>
		</div>			
	{% endfor %}
		<div class="row buttons" >
			<input id= 'show-answer' class="col-md-6" style='display:none;' type="submit" value="Посмотреть правильные ответы"/>
			<input id="check-answer" class="col-md-6" type="submit" value="Проверить ответы"/>		
			<form id='pass_again' action="{% url 'oge:a_test18_26_blank' test_id %}">
				<input id='pass-test-again' class="col-md-6" type="submit" style='display:none;' value="Пройти тест снова"/>
			</form>
			<form id='next-test' action="{% url 'oge:a_test18_26_blank' next_test_id %}">
				<input id='next-test' class="col-md-6" type="submit" style='display:none;' value="Пройти следующий тест"/>
			</form>		
		</div>
	</div>
</div>

