{% if request.user.is_authenticated %}

<li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{request.user.get_full_name}}<span class="caret"></span></a>
	<ul class="dropdown-menu">
		<li>
			<a href="#">мой профиль</a></li>
		<li role="separator" class="divider"></li>
		<li>
			<a href='/logout/'>выход</a></li>
	</ul>
</li>
{% else %}

	
	<li class="gate"><a href='/login/?next={{request.path}}'>войти</a></li>
	

{% endif %}
