{% load staticfiles %}	
<div  class="blue-top container">
	<div class="row">
		<div class="col-sm-12 col-md-8">
			<div class="blue-top-words">
				<h3>Кухаренко Ольга Борисовна</h3>
				<h4 class="text-center">Учитель английского языка</h4>
				<h4 class="text-center">Школа №222</h4>
				<h4 class="text-center">Москва</h4>
			</div>		
		</div>
		<div class="col-sm-12 col-md-4">
			<div class="round-white">
				<div class="round-foto" style="background-image: url({% static 'images/olga-foto-square.jpg' %}); background-size: cover;"></div>
			</div>
		</div>
		
		
	</div>		
</div>

