<div class='total_test'>
	<div class="container-fluid">
		<h3 class="test-header"><span>Задание</span></h3>
			{% if item|length_is:"10" %}
			<p><b>Прочитайте приведённый ниже текст. Преобразуйте слова, напечатанные заглавными буквами в конце строк, обозначенных номерами 18–26, так, чтобы они грамматически соответствовали содержанию текста. Заполните пропуски полученными словами. Каждый пропуск соответствует отдельному заданию 18–26.</b></p>
			{% else %}
			<p><b>Прочитайте приведённый ниже текст. Преобразуйте слова, напечатанные заглавными буквами в конце строк, обозначенных номерами 27–32, так, чтобы они грамматически и лексически соответствовали содержанию текста. Заполните пропуски полученными словами. Каждый пропуск соответствует отдельному заданию 27–32.</b></p>
			{% endif %}		

		
		<div class="18_26">
			<p>{{test_all}}</p>
		</div>

	{% for item in test_list %}
	{% if item.5 %}
	<div class="row sentence row-sentence">
		<div class="col-md-10 sentence">
			<span>{{item.0}}</span>
			<span>__</span>
			<input type="text" class="green-right-answer answer" name="{{forloop.counter}}" id="'test18_26_'+{{forloop.counter}}" value="{{item.3}}"/>
			<span class="hide-answer">{{item.4}}</span>
			<span>__</span>
			<span>{{item.2}}</span>
		</div>
		<div class="col-md-2 insert-word">
			<p>
				<span>{{item.1}}</span>
			</p>
		</div>
	</div>		
	{% else %}
	<div class="row sentence row-sentence">
		<div class="col-md-10 sentence">
			<span>{{item.0}}</span>
			<span>__</span>
			<input type="text" class="red-wrong-answer answer" name="{{forloop.counter}}" id="'test18_26_'+{{forloop.counter}}" value="{{item.3}}"/>
			<span class="hide-answer">{{item.4}}</span>
			<span>__</span>
			<span>{{item.2}}</span>
		</div>		
		<div class="col-md-2 insert-word">
			<p>
				<span>{{item.1}}</span>
			</p>
		</div>		
	</div>		
	{% endif %}
{% endfor %}
		<div class="row buttons" >
			<input id="show-answer" class="col-md-6" type="submit" value="Посмотреть ответы" />
			<form action="{% url 'oge:test18_26_blank' test_id %}">
				<input id='pass_again' class="col-md-6" type="submit" value="Пройти тест снова" />			
			</form>
		</div>
	</div>
</div>
