<div class='total_test'>
	<div class="container-fluid">
		<h3>Задание {{test_id}}</h3>
			{% if item|length_is:"10" %}
			<b>Прочитайте приведённый ниже текст. Преобразуйте слова, напечатанные заглавными буквами в конце строк, обозначенных номерами 18–26, так, чтобы они грамматически соответствовали содержанию текста. Заполните пропуски полученными словами. Каждый пропуск соответствует отдельному заданию 18–26.</b>
			{% else %}
			<b>Прочитайте приведённый ниже текст. Преобразуйте слова, напечатанные заглавными буквами в конце строк, обозначенных номерами 27–32, так, чтобы они грамматически и лексически соответствовали содержанию текста. Заполните пропуски полученными словами. Каждый пропуск соответствует отдельному заданию 27–32.</b>
			{% endif %}

	<div class="18_26">
		<p>{{test_all}}</p>
	</div>

		<form action='{% url "oge:my_test18_26_add_answer" test_id %}' method='post'>
			{% csrf_token %}
			{% for item in test_list %}

				<div class="row sentence row-sentence">

					<div class="col-md-10 sentence">
						<p>
							<span>{{item.0}}</span>
							<span>_____</span>
							<input type="text" name="{{forloop.counter}}" value="{{item.3}} " class='anonymous-answer' autocomplete="off"/>
							<span>_____</span>
							<span>{{item.2}}</span>	
						</p>
				</div>
					<div class="col-md-2 insert-word">
						<p>
							<span>{{item.1}}</span>
						</p>
					</div>
				</div>		
			
			{% endfor %}
			<input type="submit" value="Добавить ответы" />
		</form>
	</div>
</div>

