{% if test_list_me %}
	{% for test in test_list_me %}
		{% if test.id == test_id_int %}
			<a class="list-group-item" href="{% url 'oge:my_test18_26_blank' test.id %}">
				<span class="darker">задание {{ forloop.counter }}<span>
				{% if not test.answer %}<span> <b>NEW</b></span>{% endif %}	
			</a>
			
		{% else %}
			<a class="list-group-item" href="{% url 'oge:my_test18_26_blank' test.id %}">
				<span>задание {{ forloop.counter }}<span>
				{% if not test.answer %}<span> <b>NEW</b></span>{% endif %}
			</a>
				
		{% endif %}
	{% endfor %}	
{% endif %}
