{% if test_list_user %}
	{% for test in test_list_user %}

		{% if test.0.id == test_id_int %}

				<a class="list-group-item" href="{% url 'oge:test18_26_blank'  test.0.id %}">
					<span class="darker">задание {{ forloop.counter }}</span>
					{% if test.1 %}
						<span>({{test.1}} из {{test.0.qw_number}} пройдено)</span>
					
					{% endif %}
				</a>
				
		{% else %}
				<a class="list-group-item" href="{% url 'oge:test18_26_blank'  test.0.id %}">
					<span>задание {{ forloop.counter }}</span>
					{% if test.1 %}
						<span>({{test.1}} из {{test.0.qw_number}} пройдено)</span>				
					
					{% endif %}	
				</a>				
				
		{% endif %}	

	{% endfor %}	
{% endif %}	
