
<div class= "nav">
	<ul id="nav-first-list">
		<li class="nav-item" id="about">о себе</li>
		<li class="nav-item" id="news"><a href="/news/">новости</a></li>
		<li class="nav-item" id="for-students">ученикам</li>
		<li class="nav-item" id="for-parents">родителям</li>
		<li class="nav-item" id="my-new-project"><a href="/my new project/">мой новый проект</a></li>
	</ul>
	<ul id="nav-about-list" class="second-nav-aa">
		<li class="nav-item-second">миссия</li>
		<li class="nav-item-second">портфолио</li>	
	</ul>
	<ul id="nav-pupils-list" class="second-nav-aa">
		<li class="nav-item-second">подготовка к оге</li>
		<li class="nav-item-second">фото</li>
		<li class="nav-item-second">видео</li>		
	</ul>
	<ul id="nav-parents-list" class="second-nav-aa">
		<li class="nav-item-second">советы родителям</li>
		<li class="nav-item-second">фото</li>
		<li class="nav-item-second">видео</li>
	</ul>
</div>
