{% extends "common/__l_single_col.html" %}
{% load bbcode_tags %}

{% block title %}
	{{object.user.get_full_name}}
	{{ object.title }}
{% endblock %}

{% block content %}
<br>
<div class = 'container news-container'>
	<h2 class="text-primary text-center new-header"><strong>{{ object.title|upper }}</strong></h2 >
	<div class="col-sm-12 new-img" style="background-color:{{object.image_bg_color}}";>
      <img class = "new-img center-block img-responsive" src="{{object.image.url}}">     
    </div>

<div class="row">
	<div class="col-sm-12 col-md-3">
		{% if object.user %}
		<p><strong>Автор:<br>{{object.user.get_full_name}}</strong></p>
        {% endif %}
        <p class="new text-muted"><em><small>Опубликовано:<br>{{ object.posted|date:"d M Y" }} {{ object.posted|time:"H:i" }}</em></small></p>
	</div>
	<div class="col-sm-12 col-md-9">
		<p class="new text-justify new-text">{{ object.content|bbcode|safe }}</p>
		<p><a href="{% url "news:news_index" %}?page={{ pn }}"><b><i class="fa fa-chevron-left" aria-hidden="true"></i><span> НАЗАД</span></b></a></p>
	</div>
</div>
	
		
	<div class = "new-photo" style="background-image:url({{object.image.url}})"></div>
			

			
		
</div>
{% endblock %}
