{% extends "common/__l_single_col.html" %}
{% load staticfiles %}

{% block title %}
  {{ block.super }}
  Новости
{% endblock %}

{% block content %}
  {% include "includes/_messages.html" %}
<div class = 'news-container'>
<br>
  <div class="row">
    <div class="col-md-12">
      {% if perms.news.add_new %}
        <p><a href="{% url "news:news_add" %}"><span class="glyphicon glyphicon-plus">добавить новость</span></a></p>
      {% endif %}
      </div>
  </div>
<div class="row">
  <div class="col-md-12">
     <h3 class="text-info"><b>ЧТО НОВОГО ...</b></h3>
     <hr>
  </div> 
</div>


  {% for object in latest %}
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <img class = "news-img img-responsive" src="{{object.image.url}}">
    </div>
    
    <div class="col-md-8 col-sm-12">
    <div class="news-header">
      <h4 class="text-primary"><strong>{{ object.title|upper }}</strong></h4>
      <p class="new text-muted"><em>{{ object.posted|date:"j.m.Y H:i:s" }}</em></p>
    </div>
      
      <a class = 'new' href="{% url "news:news_detail" pk=object.pk %}?page={{ page_obj.number }}"><p class="new">{{ object.description}}</p></a>
      
      <p class="buttons bottom-indent">
      {% if perms.news.change_new %}
      <a href="{% url "news:news_edit" pk=object.pk %}?page={{ page_obj.number }}">Изменить</a>
      {% endif %}
      {% if perms.news.delete_new %}
      <a href="{% url "news:news_delete" pk=object.pk %}?page={{ page_obj.number }}">Удалить</a>
      {% endif %}
      </p>
      
    </div>
    
  </div>
  
  {% endfor %}

  
  {% include "includes/_pagination.html" %}
</div>
{% endblock %}
