{% extends "common/__l_single_col.html" %}
{% load staticfiles %}

{% block title %}
  {{ block.super }}
  Новости
{% endblock %}

{% block content %}
  
<div class = 'news-container'>
<br>
  <div class="row">
    <div class="col-md-12">
      {% if perms.news.add_new %}
        <p><a href="{% url "news:news_add" %}"><span class="glyphicon glyphicon-plus">добавить статью</span></a></p>
      {% endif %}
      </div>
  </div>
<div class="row">
  <div class="col-md-12">
     <h3 class="text-info"><b>СТАТЬИ</b></h3>
     <hr>
  </div> 
</div>


  {% for object in latest %}
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <a class = 'new' href="{% url "news:news_detail" pk=object.pk %}?page={{ page_obj.number }}">
        <img class = "news-img img-responsive" src="{{object.image.url}}">
      </a>
      
      
    </div>
    
    <div class="col-md-8 col-sm-12">
      <div class="news-header">
        <a class = 'new' href="{% url "news:news_detail" pk=object.pk %}?page={{ page_obj.number }}">
          <h4 class="text-primary news-index-header"><strong>{{ object.title|upper }}</strong></h4></span>
        </a>
        
      </div>
        
      <p class="new-pre-in-index">{{ object.description}}<a class = 'new' href="{% url "news:news_detail" pk=object.pk %}?page={{ page_obj.number }}"><b><span>  <span>ЧИТАТЬ ДАЛЕЕ </span><i class="fa fa-chevron-right" aria-hidden="true"></i></span></b>
      </a></p>
      
      
      <p class="buttons bottom-indent">
      {% if perms.news.change_new %}
      <a href="{% url 'news:news_edit' pk=object.pk %}?page={{ page_obj.number }}">Изменить</a>
      {% endif %}
      {% if perms.news.delete_new %}
      <a href="{% url 'news:news_delete' pk=object.pk %}?page={{ page_obj.number }}">Удалить</a>
      {% endif %}
      </p>
      
    </div>
    
  </div>
   {% endfor %}

  
  {% include "includes/_pagination.html" %}
</div>
{% endblock %}
