{% extends "main/__l_left_sidebar.html" %}
{% load staticfiles %}

{% block navigation %}
			<nav class="navbar navbar-default navbar-fixed-top">
				{% include "includes/_nav_brand_bs.html" %}
			</nav>
{% endblock %}

{% block bluetop %}{% endblock %}

{% block side_col %}
<ul class="oge_menu">
	<li><a href="/oge/fipi/listen/">Аудирование</a></li>
	<li><a href="/oge/fipi/read/">Чтение</a></li>
{% if user.is_authenticated %}
	{% if perms.oge.add_tests18_26 %}
	<li>Языковой материал
		<ul class="test-list">
			{% include "includes/_test18_26_list_my.html" %}
		</ul>
	</li>
	{% else %}
	<li>Языковой материал
		<ul class="test-list">
			{% include "includes/_test18_26_list.html" %}
		</ul>
	</li>		
	{% endif %}	
{% endif %}
</ul>
{% endblock %}

{% block main_col %}
{% endblock %}
{% block javascript %}
	{{ block.super }}
	<script type="text/javascript" charset="utf-8" src = "{% static 'js/oge.js' %}"></script>	
{% endblock %}
