{% extends "common/__l_left_sidebar_fipi.html" %}
{% load staticfiles %}

{% block side_col %}
<ul class="oge_menu">
	<li><a href="/oge/fipi/listen/">Аудирование</a></li>
	<li><a href="/oge/fipi/read/">Чтение</a></li>
{% if user.is_authenticated %}
	{% if perms.oge.add_tests18_26 %}
	<li>Языковой материал
		<ul class="test-list">
			{% include "includes/_test18_26_list_my.html" %}
		</ul>
	</li>	
	{% endif %}	
{% endif %}
</ul>
{% endblock %}

{% block main_col %}
<div class='form add_new_test'>
	<div class="remove-sign">
		<a href="{% url 'oge:fipi' %}" title="">
			<span class="glyphicon glyphicon-remove-sign"></span>
		</a>
	</div>
	<div>
		<form enctype="{{enctype_atr}}" action="{{action_atr}}" method="post">
			{% csrf_token %}

			{{ form.as_p }}

		
		<input type="submit" value="{{value}}">
		<!-- <input type="hidden" name="next" value="{{ next }}"> -->
		</form>
	</div>
</div>
{% endblock %}