{% extends "common/__l_left_sidebar_fipi.html" %}
{% load staticfiles %}

{% block side_col %}
	{% include "includes/_oge_menu.html" %}
{% endblock %}

{% block main_col %}

<div class='form form-add-test'>
	<div class="iks">
		<a href="/oge/fipi/"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></a>	
	</div>
	<p ><b>Скопируйте в это поле текст нового задания c сайта fipi.ru:</b></p>
	<form action="" method="post">
		{% csrf_token %}
			{{ form.as_p }}
		<div>
			<input type="submit" value="добавить">
			<input type="hidden" name="next" value="/oge/fipi/">				
		</div>
	</form>
</div>
{% endblock %}