{% extends 'oge/fipi.html' %}

{% block fipi_filling %}

<div>
	<p>Языковой материал</p>

{% if user.is_authenticated %}
	
	{% if test_list %}
		<table class="test-list">
		{% for test in test_list %}
			<tr>
				<td>
					<a href="{% url 'oge:test18_26_blank' test.0.id %}"> тест №{{ test.0.id}}
					</a>
				</td>
				{% if test.1 %}
				<td>
					пройдено{{test.1}}из{{test.0.qw_number}}
				</td>
				{% else %}
				<td>
					не пройдено
				</td>
				{% endif %}
			</tr>	
		{% endfor %}	
		</table>

	{% endif %}		
{% endif %}
{% endblock %}