{% extends "common/__l_left_sidebar.html" %}
{% load staticfiles %}

{% block navigation %}
			<nav class="navbar navbar-default navbar-fixed-top">
				{% include "includes/_nav_brand_bs.html" %}
			</nav>
{% endblock %}

{% block bluetop %}{% endblock %}

{% block side_col %}
<div class="reffer-container-item"><a href="{% url 'oge:my_test18_26_add' %}" title="добавить тест18_26"><span class="glyphicon glyphicon-plus">добавить тест</span></a></div>
<ul class="oge_menu">
	<li><a href="/oge/fipi/listen/">Аудирование</a></li>
	<li><a href="/oge/fipi/read/">Чтение</a></li>
{% if user.is_authenticated %}
	{% if perms.oge.add_tests18_26 %}
	
	<li>	
	<span>Языковой материал </span> 
		<ul class="test-list">
			{% include "includes/_test18_26_list_my.html" %}
		</ul>
	</li>		
	{% else %}
	<li>Языковой материал
		<ul class="test-list">
			{% include "includes/_test18_26_list.html" %}
		</ul>
	</li>		
	{% endif %}	
{% endif %}
</ul>
{% endblock %}

{% block main_col %}
	{% include "includes/_test18_26_detail.html" %}
{% endblock %}
{% block javascript %}
	{{ block.super }}
	<script type="text/javascript" charset="utf-8" src = "{% static 'js/oge.js' %}"></script>	
{% endblock %}
