{% extends 'oge/fipi.html' %}

{% block fipi_filling %}

<div class='total_test'>
	<div class='header'>
		<p><b>Прочитайте приведённый ниже текст. Преобразуйте слова, напечатанные заглавными буквами в конце строк, обозначенных номерами 18–26, так, чтобы они грамматически соответствовали содержанию текста. Заполните пропуски полученными словами. Каждый пропуск соответствует отдельному заданию 18–26.</b></p>
	</div>
	<div class="18_26">
		<p>{{test}}</p>
	</div>

	<form action='{% url "oge:pass_test18_26" id %}' method='post'>
		{% csrf_token %}
		{% for item in test_list %}
		<div class="container-fluid">
			<div class="row sentence">

				<div class="col-md-10 sentence">
					<p>
						<span>{{item.0}}</span>
						<span>_____</span>
						<input type="text" name="{{forloop.counter}}" id="'test18_26_'+{{forloop.counter}}" value="{{item.1}}"/>
						<span>_____</span>
						<span>{{item.2}}</span>	
					</p>
			</div>
				<div class="col-md-2 insert-word">
					<p>
						<span>{{item.1}}</span>
					</p>
				</div>
			</div>		
		</div>
		{% endfor %}
		<input type="submit" value="Проверить ответы" />
	</form>

</div>

{% endblock %}