{% extends "oge/fipi10_17_1.html" %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}

{% block side_col %}
	{% block breadcrumbs %}
		 {{ block.super }}
		{% breadcrumb test_id "oge:r_test10_17_1_blank" test_id_int%}
	{% endblock %}

	{% block render_crumbs %}
	    {% render_breadcrumbs %}
	{% endblock %}
привет
	{% include "includes/_oge_list_of_tests.html" %}
{% endblock %}

{% block main_col %}
привет
	{% include "includes/10_17/_r_test10_17_1_blank.html" %}

{% endblock %}

{% block javascript %}
	{{ block.super }}
	<script type="text/javascript" charset="utf-8" src = "{% static 'js/oge.js' %}"></script>	
{% endblock %}
