{% extends "common/__l_single_col.html" %}
{% block navigation %}
			<nav class="navbar navbar-default navbar-fixed-top">
				{% include "includes/_nav_brand_bs.html" %}
			</nav>
{% endblock %}

{% block bluetop %}{% endblock %}
{% block content %}

<div class='form'>
	<h2>{{title}}</h2>
	<form enctype="{{enctype_atr}}" action="{{action_atr}}" method="post">
{% csrf_token %}
	<!-- <table class="form"> -->
		{{ form.as_p }}
	<!-- </table> -->
	
	<input type="submit" value="{{value}}">
	<!-- <input type="hidden" name="next" value="{{ next }}"> -->
</form>
</div>

{% endblock %}