{% extends "main/base-top.html" %}

{% block body %}

<div class="page-header">
	<h3 style = "text-align: center;">ФОТОГАЛЕРЕЯ</h3>
	<a href="{% url 'main.views.foto_new' %}" title="Жми,чтобы добавить фото">
		<h1 style = "text-align: center;">
			<span class="glyphicon glyphicon-plus-sign"></span>
		</h1>
	</a>
</div>

<div class="container" id="foto">
	<div class="clearfix mosaicflow">
		{% for item in ten_fist_foto %}
		<div class="mosaicflow__item">
			<a class="fancyimage" data-fancybox-group="group" title="{{item.event}}" href="{{item.foto.url}}">
				<img src="{{item.foto.url}}" alt="{{item.event}}">
			</a>
		</div>
		{% endfor %}
	</div>
</div>

{% endblock %}