<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Кухаренко Ольга Борисовна</title>
		<meta lang="ru">
		<link rel="stylesheet" type="text/css" href="{% static 'main/bootstrap/bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'main/bootstrap/bootstrap-theme.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'main/fancybox/jquery.fancybox.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'main/mosaicflow.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'main/video.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'main/base-top-style.css' %}">
		<link rel="SHORTCUT ICON" href="{% static 'images/logo-small-small.ico' %}" type="image/x-icon">
	</head>

	<body>
		{% block  top %}
			{% include "includes/nav_bs.html" %}
			{% include "includes/blue_top.html" %}
		{% endblock %}	
		<div id="body">
			{% block body %}
			{% endblock %}
		</div>

		<div class="footer">XXX
		</div>

		<script type="text/javascript" src="{% static 'js/jquery/jQuery.js'%}"></script>
		<script type="text/javascript" src="{% static 'js/bootstrap/bootstrap.min.js'%}"></script>
		<script type="text/javascript" src = "{% static 'main/fancybox/jquery.fancybox.pack.js' %}"></script>
		<script src="{% static 'js/mosaicflow/jquery.mosaicflow.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/base-top.js'%}"></script>
		<script type="text/javascript" src = "{% static 'js/foto-video.js' %}"></script>
		<script type="text/javascript" charset="utf-8" src = "{% static 'js/video.js' %}"></script>

	</body>
</html>