<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Кухаренко Ольга Борисовна</title>
		<meta lang="ru">
		<link rel="stylesheet" type="text/css" href="{% static 'main/bootstrap/bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'main/bootstrap/bootstrap-theme.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'main/fancybox/jquery.fancybox.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'main/base-top-style.css' %}">
	<style> 
		.mosaicflow__item {
			padding:3px; 
} 
		.mosaicflow__column {
			float:left; 
} 
		.mosaicflow__item img { 
			display:block; 
			width:100%; 
			height:auto; 
			padding: 8px; 
			background-color: #fff; 
			border: 1px solid #ddd; 
			border-radius: 4px; 
} 
		.mosaicflow__item img:hover { 
			opacity: 0.6; 
			filter: alpha(opacity=60); 
} 
	</style> 

	</head>
	<body>
	
	{% include "includes/nav_bs.html" %}

		<header>	
			<div  class="blue-top">
				<!-- <div class="logo-box">
					<div class="logo">
						<a href = "/">
							<img style="height: 40px" src="{% static 'images/logo.svg' %}">
						</a>
					</div>
				</div> -->
				
				<div class="round-white">
					<div class="round-foto" style="background-image: url({% static 'images/olga-foto-square.jpg' %}); background-size: cover;"></div>
				</div>
				<h3>Кухаренко Ольга Борисовна</h3>
				
			</div>
		</header>

		<div id="login">
		{% block login %}
		{% endblock %}
		</div>
		
		<div id="main">
		{% block main %}
		{% endblock %}
		</div>

		<div id="about">
		{% block about %}
		{% endblock %}
		</div>

		<div id="news">
		{% block news %}
		{% endblock %}
		</div>

		<div id="oge">
		{% block oge %}
		{% endblock %}
		</div>

		<div id="fotoalbums">
		{% block fotoalbums %}
		{% endblock %}
		</div>

		<div id="video">
		{% block video %}
		{% endblock %}
		</div>

		<div id="newproject">
		{% block newproject %}
		{% endblock %}
		</div>

		<div class="footer">XXX</div>
		<script type="text/javascript" src="{% static 'js/jquery/jQuery.js'%}"></script>
		<script type="text/javascript" src="{% static 'js/bootstrap/bootstrap.min.js'%}"></script>
		<script type="text/javascript" src = "{% static 'main/fancybox/jquery.fancybox.pack.js' %}"></script>
		<script src="{% static 'js/mosaicflow/jquery.mosaicflow.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/base-top.js'%}"></script>
		<script type="text/javascript" src = "{% static 'js/foto-video.js' %}"></script>

	</body>
</html>