{% extends "main/base-top.html" %}
{% load staticfiles %}

{% block title %}{{title}}{% endblock %}
{% block auth %}

{% include "includes/nav_bs.html" %}

{% include "includes/blue_top.html" %}


<div class='form'>
	<h2>{{title}}</h2>
	<form enctype="{{enctype_atr}}" action="{{action_atr}}" method="post">
{% csrf_token %}
	<table class="form">
		{{ form.as_table }}
	</table>
	
	<input type="submit" value="{{value}}">
	<!-- <input type="hidden" name="next" value="{{ next }}"> -->
</form>
</div>

{% endblock %}