{% extends "common/__l_single_col.html" %}

{% block content %}

<div class="reffer-container">
	{% if perms.main.add_album %}
	<div class="reffer-container-item"><a href="{% url 'main:fotoalbums_new' %}" title="добавить фотоальбом"><span class="glyphicon glyphicon-plus">добавить фотоальбом</span></a></div>
	{% endif %}
	<div class="reffer-container-item"><a href="{% url 'main:fotostring' %}" title="добавленное недавно"><span class="glyphicon glyphicon-plus">новое</span></a></div>
	<div class="reffer-container-item"><a href="{% url 'main:fotofavorite' %}" title="популярное"><span class="glyphicon glyphicon-heart-empty">популярное</span></a></div>
</div>


<div class="album-fond">
	<div class="albums">
		<div class="album-container">
	{% for item in content %}
		{% if  item.foto_1x_url %}
			<div class="album-item">
				<a href="{% url 'main:foto_from_album' item.id %}">
					<div class="album" >					
						<div class="background" style="background-image: url({{item.foto_1x_url}}); background-size: cover;">
							<div class="album-about">
								<div class="album-name">{{ item.album|upper }}</div>
								<div>{{item.date|date:"SHORT_DATE_FORMAT"}}</div>
								<span class="foto-count">{{item.count}}</span><span>фото</span>
								<span class="point">.</span>
								<span class="view-count">{{item.views}}</span><span>просмотров</span>	
							</div>							
						</div>
					</div>				
				</a>
			</div>
		{% endif %}
	{% endfor %}	
	</div>
	</div>
	
</div>

{% endblock %}