{% extends "common/__l_single_col.html" %}

{% block content %}
<div class="page-header">
	<h3 style = "text-align: center;">отметьте фото для удаления:
	</h3>
	
</div>

<form action="{% url 'main:foto_from_album_del' album_id %}" method="post">
{% csrf_token %}
	<div class="button">
        <button type="submit">Удалить отмеченные фото</button>
    </div>
	<div class="container" id="foto">
		<div class="clearfix mosaicflow">
			{% for item in foto_from_album %}
			<div class="mosaicflow__item">
				<input type="checkbox" name='{{item.id}}'>
				<a class="fancyimage" data-fancybox-group="group" title="{{item.album}}" href="{{item.foto.url}}">
					<img src="{{item.foto.url}}" alt="{{item.album}}">
				</a>
			</div>
			{% endfor %}
		</div>
	</div>
</form>



{% endblock %}