{% extends "main/base-top.html" %}
{% load staticfiles %}
{% block fotoalbums %}
<!--<div>
	<h3 style = "text-align: center;" >ФОТОГАЛЕРЕЯ</h3>
	<form action="new">
		<button type="submit">добавить новые фотографии</button>
	</form>
</div>
-->
<div class="page-header">
	<h3 style = "text-align: center;">Фотоальбомы:</h3>
	<div class="row">
		<div class="col-sm-4"><a href="{% url 'main:fotoalbums_new' %}" title="добавить новый фотоальбом"><span class="glyphicon glyphicon-plus">добавить альбом</span></a></div>
		<div class="col-sm-4"><a href="{% url 'main:fotostring' %}" title="добавленное недавно"><span class="glyphicon glyphicon-plus">недавнee</span></a></div>
		<div class="col-sm-4"><a href="{% url 'main:fotofavorite' %}" title="популярное"><span class="glyphicon glyphicon-heart-empty">популярное</span></a></div>
	</div>
</div>

<table>
	{% for item in content %}
	<tr>
		<td>
			<a href="{% url 'main:foto_from_album' item.id %}">{{ item.album }}</a>
			<br>
			{{item.date}}
			<br>
			{{item.count}}фото<span class="glyphicon glyphicon-asterisk"></span>{{item.views}}просмотров
		</td>	
		
		<td>
			

			<a href="{% url 'main:foto_from_album' item.id %}">
				{% if not item.foto %}
				<img style="width: 100px; height:100px " src={% static 'images/cap.svg' %} alt="{{ item.album }}">
				{% else %}
				<img style="width: 100px; height:100px " src="{{item.foto}}" alt="{{ item.album }}">
				{% endif %}
			</a>
		</td>
	</tr>
	{% endfor %}
</table>

	

{% endblock %}