{% extends "main/base-top.html" %}
{% load staticfiles %}
{% block fotoalbums %}

{% include "includes/nav_bs.html" %}

{% include "includes/blue_top.html" %}

<div class="page-header">
	<h3 style = "text-align: center;">Фотоальбом:"{{album.album}}"</h3>
	<div class="row">
		<div class="col-sm-3"><a href="{% url 'main:fotoalbums' %}" title="к фотоальбомам"><span>к фотоальбомам</span></a></div>

		{% if user.is_authenticated %}
		  {% if perms.main.add_foto %}
		<div class="col-sm-3"><a href="{% url 'main:foto_to_album_add' album.id %}" title="добавить фото"><span class="glyphicon glyphicon-plus">добавить фото</span></a></div>
			{% endif %}
		{% endif %}

		<div class="col-sm-3"><a href="{% url 'main:fotofavorite' %}" title="популярное"><span class="glyphicon glyphicon-heart-empty">популярное</span></a></div>

		{% if user.is_authenticated %}
		  {% if perms.main.delete_foto %}
		<div class="col-sm-3"><a href="{% url 'main:foto_from_album_del' album.id %}" title="удалить фото"><span class="glyphicon glyphicon-minus">удалить фото</span></a></div>
			{% endif %}
		{% endif %}
	</div>

</div>


<div class="container" id="foto">
	<div class="clearfix mosaicflow">
		{% for item in foto_from_album %}
		<div class="mosaicflow__item">
			<a class="fancyimage" data-fancybox-group="group" title="{{item.foto}}" href="{{item.foto_1x.url}}">
				<img src="{{item.foto_1x.url}}" srcset="{{item.foto_1x.url}} 1x,{{item.foto_2x.url}} 2x,{{item.foto_3x.url}} 3x," alt="{{item.foto}}">
			</a>
		</div>
		{% endfor %}

	</div>

</div>


{% endblock %}