{% extends "main/base-top.html" %}
{% load staticfiles %}

{% block title %}{{title}}{% endblock %}
{% block logout %}

{% include "includes/nav_bs.html" %}

{% include "includes/blue_top.html" %}

<div class='form'>
	<h2>Выход</h2>
	
	<div>
		Вы успешно выполнили процедуру выхода:)
	</div>
	<br>
				

	<div class="button-container">
		<div>
			<form action="{% url 'main:mainpage' %}">
				<input type="submit" value="Вернуться на главную страницу">
			</form>
		</div>
		<div>
			<a href="/login/">войти снова?</a>
		</div>	
	</div>	
	

</div>

{% endblock %}